{% extends 'upstarter/main.html' %}
{% block title %}
    <title>{{ data.project.name }}</title>
{% endblock %}
{% block content %}
    <!-- PROJECT -->
    <div class="container container--main bg-white">
        <div class="py-5 px-0 px-sm-5">

            <div class="row">
                <div class="col-12 col-md-3 order-md-1">
                    <span class="text-muted h6 float-right">Started {{ data.project.creation_date }}</span>
                </div>

                <div class="col-12 col-md-9">
                    <h1 class="display-4">{{ data.project.name }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-5">
                    <span class="text-muted">tags:</span>
                    {% for tag in data.project.tags %}
                        <span class="badge badge-pill badge-primary">{{ tag }}</span>
                    {% endfor %}
                </div>

                <div class="col-12 mb-5">
                    <h2>Idea</h2>
                    <p>
                        {{ data.project.description }}
                    </p>
                </div>

                <div class="col-12 mb-5">
                    <h2>Funding</h2>

                    <h6>Required: <i class="font-weight-normal">{{ data.project.required_investments }}</i></h6>
                    <h6>Raised: <i class="font-weight-normal">{{ data.project.raised }}</i></h6>


                    <div class="pt-4">
                        <div class="progress shadow" style="height: 36px">
                            <div class="progress-bar bg-dark"
                                 style="width:calc(100%*{{ project.raised }}/{{ project.required_investments }})"></div>
                        </div>
{#                        <h6 class="display-3 text-center mt-4"><span#}
{#                                class="display-4">{{ data.project.raised }}</span>#}
{#                            / {{ data.project.required_investments }}</h6>#}
                    </div>
                </div>
            </div>

            <div class="row justify-content-around mb-4">
                <div class="col-12">
                    <h2>Team</h2>
                </div>

                <a href="#" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 text-dark project__participant">
                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                         class="img img-rounded img-fluid w-75 d-block mx-auto user__img shadow-sm mb-1"/>
                    <h3 class="font-weight-light text-center">{{ data.project.founder.name }}{{ data.project.founder.surname }}</h3>
                    <h4 class="font-weight-light text-center mx-auto"><i>Founder</i></h4>
                </a>
                {% for member in data.project.cofounders %}
                    <a href="#" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 text-dark project__participant">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                             class="img img-rounded img-fluid w-75 d-block mx-auto user__img shadow-sm mb-1"/>
                        <h3 class="font-weight-light text-center">{{ member.name }}{{ member.surname }}</h3>
                        <h4 class="font-weight-light text-center mx-auto"><i>Co-founder</i></h4>
                    </a>
                {% endfor %}
                {% for member in data.project.performers %}
                    <a href="#" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 text-dark project__participant">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                             class="img img-rounded img-fluid w-75 d-block mx-auto user__img shadow-sm mb-1"/>
                        <h3 class="font-weight-light text-center">{{ member.name }}{{ member.surname }}</h3>
                        <h4 class="font-weight-light text-center mx-auto"><i>Performer</i></h4>
                    </a>
                {% endfor %}
            </div>

            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="text-center mb-4">Join Us</h2>
                </div>

                <div class="col-12">
                    <form class="form-inline flex-nowrap justify-content-around" action="post">
                        <button type="submit" class="btn btn-light">
                            Join as a Co-Founder
                        </button>

                        <button type="submit" class="btn btn-dark">
                            Join as an Investor
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- PROJECT END -->
{% endblock %}

