/* Main */
.container--main {
  min-height: calc(100vh - 56px);
}


/* User */
.user__img {
  border-radius: 50%;
}

.user__info {
  margin: 0 0 2px 0;
}

.user__address {
  display: block;
  line-height: 1.428571429;
  color: #999;
  padding: 0 0 4px 0;
}

.user__skills {
}

.user__bio {
}


/* Project */
.project__participant {
}
a.project__participant {
  text-decoration: none;
}
